<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Bootstrap CSS -->
      <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>Register</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main style="margin: 1em;">
    <h3>Register</h3>
    <form class="form-inline" action="/register" method="POST">
      <div class="form-group mb-2">
        <fieldset>
          <label for="email" style = "margin-bottom: 10px; align-items: start; display: block">Email:</label>
          <input
          class="form-control"
          type="email"
          name="email"
          placeholder="Email"
          style="width: 300px;margin-bottom: 10px; align-items: start; display: block"
          />
          <label for="password" style = "margin-bottom: 10px; align-items: start; display: block">Password:</label>
          <input
          class="form-control"
          type="password"
          name="password"
          placeholder="Password"
          style="width: 300px;margin-bottom: 10px; align-items: start; display: block"
          />
          <button type="submit" class="btn btn-primary">Create Account</button>
        </fieldset>
      </div>
    </form>
</body>
</html>